{% extends "template.html" %}
    {% block code_block %}

<body>
<div class="container">
            <h1>Know number of current openings for you </h1>
            <form action="/predict" method="POST">
                <div class="form-group">
                    <label for="">Enter Location</label>
                    <select name="location" class="form-control">
                        <option value="69"> Chennai</option>
                        <option value="37"> Bangalore</option>
                        <option value="256"> Mumbai</option>
                        <option value="213"> Kolkata</option>
                        <option value="84"> Coimbatore</option>
                        <option value="356"> Tamilnadu</option>
                        <option value="267"> NCR</option>
                        <option value="210"> Kochi</option>
                        <option value="128"> Greater Noida</option>
                        <option value="134"> Gurgaon</option>
                        <option value="150"> Hyderabad</option>
                        <option value="221"> Kozhikode</option>
                        <option value="233"> Lucknow</option>
                        <option value="99"> Delhi</option>
                        <option value="366"> Tirupati</option>
                        <option value="394"> Visakhapatnam</option>
                        <option value="7"> Ahmedabad</option>
                        <option value="315"> Pune</option>
                        <option value="66"> Canada</option>
                        <option value="32"> Australia</option>
                        <option value="179"> Indore</option>
                        <option value="67"> Chandigarh</option>
                        <option value="182"> Jaipur</option>
                        <option value="398"> Wayanad</option>
                        <option value="397"> Warangal</option>
                        <option value="391"> Vijayawada</option>
                        <option value="389"> Vellore</option>
                        <option value="371"> Tuticorin</option>
                        <option value="370"> Tumkur</option>
                        <option value="369"> Trivandrum</option>
                        <option value="303"> PUNE Mumbai</option>
                        <option value="73"> Chennai Kolkata</option>
                        <option value="38"> Bangalore Hyderabad</option>
                        <option value="260"> Mumbai Suburbs</option>
                        <option value="70"> Chennai Bangalore</option>
                        <option value="153"> Hyderabad Kolkata</option>
                        <option value="281"> Noida</option>
                        <option value="353"> Surat</option>
                        <option value="56"> Bhubaneshwar</option>
                        <option value="98"> Dehradun</option>
                        <option value="152"> Hyderabad Bangalore</option>
                        <option value="71"> Chennai Coimbatore</option>
                        <option value="390"> Vellore Salem</option>
                        <option value="89"> Cuttack</option>
                        <option value="92"> Dadra and Nagar Haveli</option>
                        <option value="74"> Chennai Mumbai</option>
                        <option value="40"> Bangalore PUNE</option>
                        <option value="246"> Mangalore</option>
                        <option value="309"> Panjim</option>
                        <option value="48"> Bellary</option>
                        <option value="250"> Mauritius</option>
                        <option value="357"> Tarapur</option>
                        <option value="254"> Mohali</option>
                        <option value="313"> Phagwara</option>
                        <option value="386"> Vasai</option>
                        <option value="359"> Thane</option>
                        <option value="274"> Navi Mumbai</option>
                        <option value="6"> Agra</option>
                        <option value="47"> Belgaum</option>
                        <option value="149"> Hubli</option>
                        <option value="97"> Davangere</option>
                        <option value="103"> Dharwad</option>
                        <option value="131"> Gulbarga</option>
                        <option value="146"> Hospet</option>
                        <option value="211"> Kolar</option>
                        <option value="364"> Tirunelveli</option>
                        <option value="360"> Thanjavur</option>
                        <option value="314"> Pondicherry</option>
                        <option value="283"> Ooty</option>
                        <option value="268"> Nagercoil</option>
                        <option value="191"> Japan</option>
                        <option value="263"> Mysore</option>
                        <option value="367"> Trichy</option>
                        <option value="133"> Guntur</option>
                        <option value="148"> Houston</option>
                        <option value="338"> Salem Tiruppur</option>
                        <option value="85"> Coimbatore Mumbai</option>
                        <option value="242"> Malaysia</option>
                        <option value="114"> Faridabad</option>
                        <option value="258"> Mumbai PUNE</option>
                        <option value="122"> Ghaziabad</option>
                        <option value="147"> Hosur</option>
                        <option value="39"> Bangalore Kolkata</option>
                        <option value="72"> Chennai Hyderabad</option>
                        <option value="216"> Kolkata Mumbai</option>
                        <option value="302"> PUNE Delhi</option>
                        <option value="234"> Ludhiana</option>
                        <option value="58"> Bidar</option>
                        <option value="345"> Shimoga</option>
                        <option value="269"> Nagpur</option>
                        <option value="108"> Dubai/ UAE</option>
                        <option value="217"> Kolkata PUNE</option>
                        <option value="305"> Palakkad</option>
                        <option value="55"> Bhopal</option>
                        <option value="184"> Jajpur Odisha</option>
                        <option value="312"> Patna</option>
                        <option value="31"> Aurangabad</option>
                        <option value="381"> Vadodara</option>
                        <option value="226"> Kuwait</option>
                        <option value="194"> Jodhpur</option>
                        <option value="284"> Orissa</option>
                        <option value="348"> Singapore</option>
                        <option value="203"> Karnataka</option>
                        <option value="327"> Rajkot</option>
                        <option value="251"> Meerut</option>
                        <option value="151"> Hyderabad / Secunderabad</option>
                        <option value="219"> Kota</option>
                        <option value="378"> Uttaranchal Other</option>
                        <option value="413"> haryana</option>
                        <option value="140"> Haridwar</option>
                        <option value="156"> Hyderabad/Secunderabad</option>
                        <option value="135"> Guwahati</option>
                        <option value="323"> Raipur</option>
                        <option value="20"> Anantapur</option>
                        <option value="132"> Guntakal</option>
                        <option value="224"> Kurnool</option>
                        <option value="280"> Nizamabad</option>
                        <option value="310"> Panjim/Panaji</option>
                        <option value="110"> Ernakulam / Kochi/ Cochin</option>
                        <option value="5"> Agartala</option>
                        <option value="204"> Karnataka Other</option>
                        <option value="10"> Akola</option>
                        <option value="349"> Solapur</option>
                        <option value="200"> Kanpur</option>
                        <option value="379"> Uttarpradesh Other</option>
                        <option value="35"> Baddi</option>
                        <option value="324"> Rajahmundry</option>
                        <option value="196"> Kakinada</option>
                        <option value="22"> Andhrapradesh Other</option>
                        <option value="26"> Arunachalpradesh Oth</option>
                        <option value="337"> Salem</option>
                        <option value="355"> Tambaram Perambur</option>
                        <option value="388"> Velachery Madipakkam</option>
                        <option value="129"> Guindy Koyembedu</option>
                        <option value="222"> Kozhikode / Calicut</option>
                        <option value="220"> Kottayam</option>
                        <option value="306"> Palakkad / Palghat</option>
                        <option value="241"> Malappuram</option>
                        <option value="125"> Goa Other</option>
                        <option value="331"> Rohtak</option>
                        <option value="144"> Hisar</option>
                        <option value="94"> Dalhousie</option>
                        <option value="101"> Dharmasala</option>
                        <option value="223"> Kullu/Manali</option>
                        <option value="142"> Haryana Other</option>
                        <option value="271"> Nasik</option>
                        <option value="185"> Jalandhar</option>
                        <option value="341"> Saudi Arabia</option>
                        <option value="83"> Cochin/ Kochi/ Ernakulam</option>
                        <option value="87"> Cuddalore</option>
                        <option value="285"> Other City(s) in Andhra Pradesh</option>
                        <option value="228"> Latur</option>
                        <option value="294"> Other City(s) in Maharasht</option>
                        <option value="402"> andra</option>
                        <option value="346"> Silchar</option>
                        <option value="347"> Siliguri</option>
                        <option value="382"> Valsad</option>
                        <option value="383"> Vapi</option>
                        <option value="93"> Dahej</option>
                        <option value="117"> Gandhidham</option>
                        <option value="252"> Mehsana</option>
                        <option value="15"> Ambala</option>
                        <option value="44"> Bareilly</option>
                        <option value="384"> Varanasi</option>
                        <option value="328"> Ranchi</option>
                        <option value="202"> Karnal</option>
                        <option value="277"> Nellore</option>
                        <option value="68"> Chandrapur</option>
                        <option value="16"> Amravati</option>
                        <option value="64"> Buldhana</option>
                        <option value="104"> Dhule</option>
                        <option value="333"> Rourkela</option>
                        <option value="187"> Jammu</option>
                        <option value="17"> Amritsar</option>
                        <option value="334"> Rudrapur</option>
                        <option value="239"> Madurai</option>
                        <option value="415"> hyderabad</option>
                        <option value="407"> chennai</option>
                        <option value="49"> Bharuch</option>
                        <option value="289"> Other City(s) in Gujarat</option>
                        <option value="427"> nan</option>
                        <option value="430"> primary_city":"Hyderabad"</option>
                        <option value="0"> "primary_state":"Andhra Pradesh</option>
                        <option value="61"> Bikaner</option>
                        <option value="88"> Cuddapah</option>
                        <option value="297"> Other City(s) in Tamil Nadu</option>
                        <option value="189"> Jamnagar</option>
                        <option value="387"> Vasco Da Gama</option>
                        <option value="372"> UP</option>
                        <option value="13"> Aligarh</option>
                        <option value="205"> Karur</option>
                        <option value="119"> Ganganagar</option>
                        <option value="105"> Dibrugarh</option>
                        <option value="53"> Bhiwadi</option>
                        <option value="318"> Punjab</option>
                        <option value="91"> Dadra & Nagar Haveli / Silvassa</option>
                        <option value="207"> Kerala</option>
                        <option value="377"> United States (U.S)</option>
                        <option value="240"> Maharashtra</option>
                        <option value="23"> Angul</option>
                        <option value="363"> Thrissur / Trichur</option>
                        <option value="339"> Sambalpur</option>
                        <option value="244"> Mandi</option>
                        <option value="218"> Kollam / Quilon</option>
                        <option value="335"> Rupnagar</option>
                        <option value="245"> Manesar</option>
                        <option value="54"> Bhiwani</option>
                        <option value="21"> Andhra Pradesh</option>
                        <option value="24"> Ankleshwar</option>
                        <option value="111"> Erode</option>
                        <option value="169"> India</option>
                        <option value="190"> Jamshedpur</option>
                        <option value="78"> Chennai Vizag</option>
                        <option value="278"> Nellore Kurnool</option>
                        <option value="14"> Allahabad</option>
                        <option value="75"> Chennai Rajahmundry</option>
                        <option value="195"> Kadapa Kakinada</option>
                        <option value="365"> Tirupathi Anantapur</option>
                        <option value="57"> Bhuj</option>
                        <option value="198"> Kanchipuram</option>
                        <option value="82"> Cochin</option>
                        <option value="197"> Kalpakkam</option>
                        <option value="76"> Chennai Trichy</option>
                        <option value="112"> Erode Cuddalore</option>
                        <option value="393"> Villupuram Pondy</option>
                        <option value="404"> bangalore</option>
                        <option value="170"> India - Bangalore</option>
                        <option value="418"> karnataka</option>
                        <option value="96"> Davanagere</option>
                        <option value="264"> Mysoru / Mysore</option>
                        <option value="173"> India-Karnataka-Bangalore</option>
                        <option value="52"> Bhillai</option>
                        <option value="292"> Other City(s) in Karnataka</option>
                        <option value="118"> Gandhinagar</option>
                        <option value="161"> IN-IN</option>
                        <option value="172"> India-Bangalore</option>
                        <option value="431"> pune</option>
                        <option value="424"> mumbai</option>
                        <option value="400"> ahmedabad</option>
                        <option value="417"> jaipur</option>
                        <option value="298"> Other City(s) in Uttar Pradesh</option>
                        <option value="121"> Germany</option>
                        <option value="230"> Location: White Field</option>
                        <option value="293"> Other City(s) in Kerala</option>
                        <option value="416"> indore</option>
                        <option value="385"> Varanasi / Banaras</option>
                        <option value="287"> Other City(s) in Chhattisgarh</option>
                        <option value="290"> Other City(s) in Har</option>
                        <option value="109"> Durg</option>
                        <option value="158"> IN - KA - Bangalore</option>
                        <option value="361"> Thiruvananthapuram</option>
                        <option value="373"> Udaipur</option>
                        <option value="4"> Adilabad</option>
                        <option value="325"> Rajasthan</option>
                        <option value="141"> Haryana</option>
                        <option value="235"> MP</option>
                        <option value="59"> Bihar</option>
                        <option value="9"> Ajmer</option>
                        <option value="299"> Overseas</option>
                        <option value="247"> Mathura</option>
                        <option value="350"> Sonepat</option>
                        <option value="212"> Kolhapur</option>
                        <option value="352"> Srinagar</option>
                        <option value="27"> Asansol</option>
                        <option value="138"> Haldia</option>
                        <option value="311"> Patiala</option>
                        <option value="399"> Yamunanagar</option>
                        <option value="130"> Gujarat</option>
                        <option value="46"> Bawal</option>
                        <option value="276"> Neemrana</option>
                        <option value="8"> Ahmednagar</option>
                        <option value="409"> delhi</option>
                        <option value="136"> Gwalior</option>
                        <option value="102"> Dharuhera</option>
                        <option value="209"> Kharagpur</option>
                        <option value="100"> Dhanbad</option>
                        <option value="25"> Anywhere India</option>
                        <option value="376"> United Kingdom (U.K)</option>
                        <option value="143"> Hindupur</option>
                        <option value="120"> Gauribidanur</option>
                        <option value="408"> chittoor</option>
                        <option value="51"> Bhilai/Bhillai</option>
                        <option value="374"> Udupi</option>
                        <option value="11"> Alappuzha / Alleppey</option>
                        <option value="145"> Hong Kong</option>
                        <option value="232"> London</option>
                        <option value="79"> Chicago</option>
                        <option value="342"> Schenectady</option>
                        <option value="18"> Amstc</option>
                        <option value="80"> Cincinnati</option>
                        <option value="30"> Atlanta</option>
                        <option value="36"> Baden</option>
                        <option value="95"> Daman & Diu</option>
                        <option value="62"> Bokaro</option>
                        <option value="188"> Jammuandkashmir Othe</option>
                        <option value="193"> Jharkhand Other</option>
                        <option value="422"> maharashtra</option>
                        <option value="12"> Alaska</option>
                        <option value="354"> THANE</option>
                        <option value="45"> Baroda</option>
                        <option value="266"> NAVI MUMBAI</option>
                        <option value="300"> PANVEL</option>
                        <option value="322"> Raigarh</option>
                        <option value="319"> Puri</option>
                        <option value="238"> Madhyapradesh Other</option>
                        <option value="326"> Rajasthan Other</option>
                        <option value="403"> banda</option>
                        <option value="396"> Wadala</option>
                        <option value="33"> BANDRA</option>
                        <option value="3"> ANDHERI</option>
                        <option value="380"> VASHI</option>
                        <option value="116"> GOREGOAN</option>
                        <option value="34"> BORIVILLI</option>
                        <option value="90"> DOMBIVLLI</option>
                        <option value="236"> MULUND</option>
                        <option value="115"> GHATKOPAR</option>
                        <option value="65"> COLABA</option>
                        <option value="265"> NARIMAN POINT.</option>
                        <option value="166"> IND-Maharashtra-Thane</option>
                        <option value="113"> Faizabad</option>
                        <option value="126"> Gorakhpur</option>
                        <option value="19"> Anand</option>
                        <option value="225"> Kurukshetra</option>
                        <option value="308"> Panipat</option>
                        <option value="227"> Lakshadweep</option>
                        <option value="368"> Tripura Other</option>
                        <option value="42"> Bangladesh</option>
                        <option value="177"> Indonesia</option>
                        <option value="50"> Bhavnagar</option>
                        <option value="123"> Gir</option>
                        <option value="199"> Kandla</option>
                        <option value="344"> Shimla</option>
                        <option value="248"> Mathura Mountabu</option>
                        <option value="261"> Mussoorie Mysore</option>
                        <option value="243"> Manali Nagpur</option>
                        <option value="270"> Nainital Noida</option>
                        <option value="282"> OOTY Orchha</option>
                        <option value="307"> Panaji Patna</option>
                        <option value="336"> Saharanpur</option>
                        <option value="206"> Kashipur</option>
                        <option value="139"> Haldwani</option>
                        <option value="86"> Courier / Transportation / Freight / Warehousing</option>
                        <option value="255"> Moradabad</option>
                        <option value="60"> Bijnor</option>
                        <option value="332"> Roorkee</option>
                        <option value="433"> seoni</option>
                        <option value="330"> Rewari</option>
                        <option value="321"> Quilon</option>
                        <option value="320"> Qatar</option>
                        <option value="275"> Near Bangalore</option>
                        <option value="237"> Madhepura</option>
                        <option value="154"> Hyderabad Mumbai</option>
                        <option value="304"> PUNE Tirunelveli</option>
                        <option value="259"> Mumbai Pune</option>
                        <option value="155"> Hyderabad PUNE</option>
                        <option value="214"> Kolkata Bangalore</option>
                        <option value="301"> PUNE Bangalore</option>
                        <option value="215"> Kolkata Hyderabad</option>
                        <option value="77"> Chennai Vijayawada</option>
                        <option value="395"> Vizag Hyderabad</option>
                        <option value="29"> Assam</option>
                        <option value="63"> Borivali</option>
                        <option value="420"> kolkata</option>
                        <option value="375"> Ujjain</option>
                        <option value="106"> Dimapur</option>
                        <option value="429"> palghar</option>
                        <option value="127"> Goregaon (E)</option>
                        <option value="181"> JOB LOCATION: MUMBAI (INDIA)</option>
                        <option value="107"> Doda</option>
                        <option value="164"> IN-MH-Mumbai-Prism Towers / 31002</option>
                        <option value="405"> bolpur</option>
                        <option value="401"> airoli</option>
                        <option value="186"> Jalgaon</option>
                        <option value="428"> noida</option>
                        <option value="406"> chandigarh</option>
                        <option value="425"> mumbai/pune</option>
                        <option value="257"> Mumbai Corporate Office</option>
                        <option value="162"> IN-MH-Greater Mumbai-Mumbai</option>
                        <option value="163"> IN-MH-Greater Mumbai-Mumbai-Voltas C</option>
                        <option value="253"> Moga</option>
                        <option value="340"> Santacruz</option>
                        <option value="392"> Vikhroli</option>
                        <option value="435"> thane</option>
                        <option value="41"> Bangalore/Mumbai</option>
                        <option value="295"> Other City(s) in Maharashtra</option>
                        <option value="171"> India - Mumbai</option>
                        <option value="81"> City</option>
                        <option value="329"> Recruitment</option>
                        <option value="343"> Selection</option>
                        <option value="249"> Matriculation and Alumni Impact - Pune/Mumbai</option>
                        <option value="231"> Lonavala</option>
                        <option value="174"> India-Mumbai</option>
                        <option value="178"> Indonesia-Jakarta</option>
                        <option value="414"> hosur</option>
                        <option value="426"> nagpur</option>
                        <option value="273"> National Team Mumbai</option>
                        <option value="272"> National Team - Mumbai</option>
                        <option value="28"> Asia-India-Greater Mumbai</option>
                        <option value="180"> Itanagar</option>
                        <option value="168"> INDIA-NOIDA-NOIDA</option>
                        <option value="296"> Other City(s) in Punjab</option>
                        <option value="432"> punjab</option>
                        <option value="160"> IN-HR-Gurgaon</option>
                        <option value="279"> New Delhi</option>
                        <option value="262"> Muzaffarpur</option>
                        <option value="229"> Location: Gurgaon</option>
                        <option value="412"> gurgaon</option>
                        <option value="291"> Other City(s) in Jammu & Kashmir</option>
                        <option value="419"> khurja</option>
                        <option value="316"> Pune (Salunke Vihar)</option>
                        <option value="317"> Pune (Swarga</option>
                        <option value="157"> IN - DL - New Delhi</option>
                        <option value="286"> Other City(s) in Bihar</option>
                        <option value="411"> gujarat</option>
                        <option value="2"> 18</option>
                        <option value="421"> lucknow</option>
                        <option value="423"> morena</option>
                        <option value="1"> #NAME?</option>
                        <option value="288"> Other City(s) in Goa</option>
                        <option value="167"> INDIA - Noida</option>
                        <option value="410"> dwarka</option>
                        <option value="159"> IN-DL-New Delhi</option>
                        <option value="137"> HR</option>
                        <option value="165"> IND</option>
                        <option value="176"> India-Noida</option>
                        <option value="175"> India-NCR</option>
                        <option value="358"> Telangana</option>
                        <option value="362"> Thrissur</option>
                        <option value="208"> Khammam</option>
                        <option value="43"> Banswara</option>
                        <option value="183"> Jaisalmer</option>
                        <option value="351"> Sri Lanka</option>
                        <option value="124"> Goa</option>
                        <option value="201"> Karimnagar</option>
                        <option value="192"> Jhansi</option>
                        <option value="434"> south india</option>
                    </select>
                </div>
                </br>
                <div class="form-group">
                   <label for="">Industry</label>
                   <select name="industry" class="form-control">
                        <option value="0">Accounting / Finance</option>
                        <option value="1">Advertising / PR / MR / Event Management</option>
                        <option value="2">Agriculture / Dairy</option>
                        <option value="3">Animation / Gaming</option>
                        <option value="4">Architecture / Interior Design</option>
                        <option value="5">Automobile / Auto Anciliary / Auto Components</option>
                        <option value="6">Aviation / Aerospace Firms</option>
                        <option value="7">BPO / Call Centre / ITES</option>
                        <option value="8">Banking / Financial Services / Broking</option>
                        <option value="9">Brewery / Distillery</option>
                        <option value="10">Broadcasting</option>
                        <option value="11">Ceramics / Sanitary ware</option>
                        <option value="12">Chemicals / PetroChemical / Plastic / Rubber</option>
                        <option value="13">Construction / Engineering / Cement / Metals</option>
                        <option value="14">Consumer Electronics / Appliances / Durables</option>
                        <option value="15">Courier / Transportation / Freight / Warehousing</option>
                        <option value="16">Education / Teaching / Training</option>
                        <option value="17">Electricals / Switchgears</option>
                        <option value="18">Export / Import</option>
                        <option value="19">FMCG / Foods / Beverage</option>
                        <option value="20">Facility Management</option>
                        <option value="21">Fertilizers / Pesticides</option>
                        <option value="22">Food Processing</option>
                        <option value="23">Fresher / Trainee / Entry Level</option>
                        <option value="24">Gems / Jewellery</option>
                        <option value="25">Glass / Glassware</option>
                        <option value="26">Government / Defence</option>
                        <option value="27">Heat Ventilation / Air Conditioning</option>
                        <option value="28">IT-Hardware & Networking</option>
                        <option value="29">IT-Software / Software Services</option>
                        <option value="30">Industrial Products / Heavy Machinery</option>
                        <option value="31">Insurance</option>
                        <option value="32">Internet / Ecommerce</option>
                        <option value="33">Iron and Steel</option>
                        <option value="34">KPO / Research / Analytics</option>
                        <option value="35">Leather</option>
                        <option value="36">Legal</option>
                        <option value="37">Media / Entertainment / Internet</option>
                        <option value="38">Medical / Healthcare / Hospitals</option>
                        <option value="39">Medical Devices / Equipments</option>
                        <option value="40">NGO / Social Services / Regulators / Industry Assoc
                        <option value="41">Office Equipment / Automation</option>
                        <option value="42">Oil and Gas / Energy / Power / Infrastructure</option>
                        <option value="43">Other</option>
                        <option value="44">Pharma / Biotech / Clinical Research</option>
                        <option value="45">Printing / Packaging</option>
                        <option value="46">Publishing</option>
                        <option value="47">Pulp and Paper</option>
                        <option value="48">Real Estate / Property</option>
                        <option value="49">Recruitment / Staffing</option>
                        <option value="50">Retail / Wholesale</option>
                        <option value="51">Security / Law Enforcement</option>
                        <option value="52">Semiconductors / Electronics</option>
                        <option value="53">Shipping / Marine</option>
                        <option value="54">Strategy / Management Consulting Firms</option>
                        <option value="55">Telecom/ISP</option>
                        <option value="56">Telecom/ISP</option>
                        <option value="57">Textiles / Garments / Accessories</option>
                        <option value="58">Travel / Hotels / Restaurants / Airlines / Railways</option>
                        <option value="60">Water Treatment / Waste Management</option>
                        <option value="61">Wellness / Fitness / Sports</option>
                        <option value="62">Wellness / Fitness / Sports / Beauty</option>

                   </select>
                </div>
                </br>
                <div class="form-group">
                    <label for="">Enter your Experience</label>
                    <input type="number" name="minExp" class="form-control">
                </div>
                </br>
                <fieldset>
                    <legend>What is Your Qualification?</legend>
                    <input type="checkbox" name="a" value="ug">Graduate<br>
                    <input type="checkbox" name="a" value="pg">PostGraduate<br>
                    <input type="checkbox" name="a" value="doc">Doctorate<br>
                    <br>
                </fieldset>
                <script type="text/javascript">
                    function ValidateQualSelection()
                    {
                        var checkboxes = document.getElementsByName("a");
                        var numberOfCheckedItems = 0;
                        for(var i = 0; i < checkboxes.length; i++)
                        {
                            if(checkboxes[i].checked)
                                numberOfCheckedItems++;
                        }
                        if(numberOfCheckedItems == 0)
                        {
                            alert("You have to select atlest 1 option !");
                            return false;
                        }
                    }
            </script>
                </br>
                <div class="form-group">
                    <label for="">skills</label>
                    <select name="skills" class="form-control">
                       <option value="0">Accounts</option>
                       <option value="1">Analytics & Business Intelligence</option>
                       <option value="2">Architecture</option>
                       <option value="3">Beauty/Fitness/Spa Services</option>
                       <option value="4">Defence Forces</option>
                       <option value="5">Design</option>
                       <option value="6">Engineering Design</option>
                       <option value="7">Executive Assistant</option>
                       <option value="8">Export</option>
                       <option value="9">Fashion Designing</option>
                       <option value="10">Financial Services</option>
                       <option value="11">HR</option>
                       <option value="12">Hotels</option>
                       <option value="13">IT Hardware</option>
                       <option value="14">IT Software - Application Programming</option>
                       <option value="15">IT Software - Client/Server Programming</option>
                       <option value="16">IT Software - DBA</option>
                       <option value="17">IT Software - ERP</option>
                       <option value="18">IT Software - Embedded</option>
                       <option value="19">IT Software - Mainframe</option>
                       <option value="20">IT Software - Middleware</option>
                       <option value="21">IT Software - Mobile</option>
                       <option value="22">IT Software - Network Administration</option>
                       <option value="23">IT Software - Other</option>
                       <option value="24">IT Software - QA & Testing</option>
                       <option value="25">IT Software - System Programming</option>
                       <option value="26">IT Software - Systems</option>
                       <option value="27">IT Software - Telecom Software</option>
                       <option value="28">IT Software - eCommerce</option>
                       <option value="29">ITES</option>
                       <option value="30">Journalism</option>
                       <option value="31">Legal</option>
                       <option value="32">Marketing</option>
                       <option value="33">Medical</option>
                       <option value="34">Packaging</option>
                       <option value="35">Production</option>
                       <option value="36">Sales</option>
                       <option value="37">Shipping</option>
                       <option value="38">Site Engineering</option>
                       <option value="39">Strategy</option>
                       <option value="40">Supply Chain</option>
                       <option value="41">TV</option>
                       <option value="42">Teaching</option>
                       <option value="43">Top Management</option>
                       <option value="44">Travel</option>
                    </select>
                </div>
                <hr>

                <div class="form-group">
                    <input type="submit" value="Predict" class="btn btn-success" onclick="return ValidateQualSelection();">
                    <a href="./predict" input type="button" value="Reset" class="btn btn-danger">
                </div>
            </form>
</div>
</body>
{% endblock %}







